// File: construction.module.scss

.constructionWrapper {
    max-width: 700px;
    margin: auto;

    text-align: center;
    padding: 2rem;
    border-radius: 1.2rem;
  }
  
  .constructionTitle {
    margin-top: 20px;
    font-size: var(--text-2xl);
    font-weight: 900;
    line-height: 1;
    margin-bottom: 1.2rem;
  
    span {
      color: var(--brand);
    }
  
    @media (max-width: 768px) {
      font-size: var(--text-xl);
    }
  }
  .constructionTitle2 {
    font-size: var(--text-xl);
    font-weight: 800;
    line-height: 1;
    margin-bottom: 1.2rem;
  
    span {
      color: var(--brand);
    }
  
    @media (max-width: 768px) {
      font-size: var(--text-xl);
    }
  }
  
  .constructionText {
    font-size: var(--text-md);
    font-weight: 200;
    margin-bottom: 2.4rem;
  }
  
  .resumeButton {
    margin-bottom: 2.4rem;
  }
  
  .contactTitleSmall {
    font-size: var(--text-lg);
    font-weight: 900;
    margin-top: 2.4rem;
    margin-bottom: 1rem;
    color: white;
  
    span {
      color: var(--brand);
    }
  }
  
  .contactEmail {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
  
    width: fit-content;
  
    font-size: var(--text-md);
  
    margin: auto;
  
    transition: 0.25s color;
  }
  
  .contactEmail a {
    color: var(--brand);
    font-weight: bold;
    text-decoration: none;
  }
  
  .contactEmail a:hover {
    text-decoration: underline;
  }