.tilesContainer {
    display: flex;
    overflow-x: scroll;
    gap: 1rem;
    padding: 1rem;
    &::-webkit-scrollbar {
        display: none;
    }
  }
  
  .card {
    flex: none;
    width: 18rem; // Equivalent to 72 tailwind units
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    overflow: hidden;
  }
  
  .cardHeader {
    padding: 0.5rem 1rem;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
  }
  
  .cardContent {
    padding: 1rem;
    font-size: 0.875rem; // Small text size
    line-height: 1.5; // Relaxed line height
  }
  